.main_container {
    background-color: #DCEDFF;
    height: 500px;
    display: grid;
    grid-template-columns: 2fr 10fr;


}

.menuButtons a{
    font-family: Staatliches;
    display: flex;
    margin: 10px;
    padding: 18px;
}

.menuButtons{

}